{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: "Century Gothic", sans-serif;

   
}
.navlist{
    width: 78%;
    position: fixed;
    padding: 10px 10%;
    background-color: rgb(20, 0, 136);
}
.navlist  ul{
    display: flex;
    list-style: none;
}
.navlist ul li:first-child{
    flex: 1;      
    color: #ffffff;
}
.navlist ul a{
    display: block;
    margin-left: 40px;
    font-family: "Century Gothic", sans-serif;
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
 }
 .main-box{
    width: 100%;
    height: 82vh;
    background-color: darkgray;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    padding-top: 30vh;
 }
 .container{
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
 }
 .container h2{
    color: #ff8800;
    text-align: center;
    margin: 30px;
    font-family: 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
 }
 .container h2::before, .container h2::after{
    content: "-----";
    letter-spacing: -5px;
    font-weight: lighter;
    margin: 0 20px 0 10px;
 }
 .container .row{
    display: flex;
    justify-content: space-between;
 }
 .container .column{
    width: 32%;
    height: auto;
    position: relative;
    overflow: hidden;
 }
 .container .column img{
    width: 100%;
    height: auto;
 }
 .container .column a:last-child{
    position: absolute;
    display: block;
    width: 80%;
    height: 0;
    top: 99%;
    bottom: 0;
    left: 0;
    bottom: 0;
    background-color: #ff8800c0;
    text-align: center;
    padding-top: 14vw;
    font-size: 3vw;
    color: #ffffff;
    text-decoration: none;
 }
 .container .column:hover a:last-child{
    height: 100%;
    top: 0;
 }
 .payment{
    width: 50%;
    height: 30vh;
    background-image: linear-gradient(#b61c1cbb, #046ec5bb), url("C:\Users\Shivanand\Desktop\log.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: left;
    padding-top: 0vh;
    padding-bottom: 20vh;
 }
}
.payment1{
   width: 50%;
   height: 30vh;
   background-image: linear-gradient(#b61c1cbb, #046ec5bb), url("C:\Users\Shivanand\Desktop\log.png");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   color: #ffffff;
   text-align: left;
   padding-top: 0vh;
   padding-bottom: vh;
}
}
.sub{
   width: 100%;
   height: 40vh;
   background-color: rgb(169, 169, 169);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   color: #ffffff;
   text-align: center;
   padding-top: 30vh;
}
